.button {

    padding-inline: 20px;
    margin-top: 50px;
    border-color: white;
    background-color: white;
    margin-bottom: 50px;
    border-bottom: 0px;
    border-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;

}

.button:hover {
    background-color: rgb(238, 119, 9);
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5%;
}

.brand-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;


}

.profile {
    background-color: rgb(238, 119, 9);
    border-color: rgb(238, 119, 9);
    border-radius: 3px;
    color: white;

    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.icon {
    background-color: rgb(238, 119, 9);
    font-size: 30px;
    border-radius: 50%;
    border: 10px solid rgb(238, 119, 9);
}

.container {
    text-align: center;
}

.input-position {
    margin-top: 20px;
    border-color: rgb(241, 233, 233);
    border-style: solid;
    border-radius: 3px;
}

.round-button {
    background-color: rgb(238, 119, 9);
    line-height: 40px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-size: xx-large;

}