.button {

    padding-inline: 20px;
    margin-top: 50px;
    border-color: white;
    background-color: white;
    margin-bottom: 50px;
    border-bottom: 0px;
    border-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;

}

.button:hover {
    background-color: orange;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5%;
}

.brand-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;


}

.profile {
    background-color: orange;
    border-color: orange;
    border-radius: 3px;
    color: white;

    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.icon {
    background-color: orange;
    font-size: 30px;
    border-radius: 50%;
    border: 10px solid orange;
}

.container {
    text-align: center;
}

.input-position {
    margin-top: 20px;
    border-color: rgb(241, 233, 233);
    border-style: groove;
}

.round-button {
    display: block;
    width: 3%;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #f5f5f5;
    text-decoration: none;
    background: rgba(241, 136, 14, 0.781);
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    margin: 3% 48%;

}