.button {

    padding-inline: 20px;
    margin-top: 50px;
    border-color: white;
    background-color: white;
    margin-bottom: 50px;
    border-bottom: 0px;
    border-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.button:hover {
    background-color: rgb(238, 119, 9);
}


.brand-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.profile {
    background-color: rgb(238, 119, 9);
    border-color: rgb(238, 119, 9);
    border-radius: 3px;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5%;
}

.icon {
    background-color: rgb(238, 119, 9);
    font-size: 30px;
    border-radius: 50%;
    border: 10px solid rgb(238, 119, 9);
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.th {
    text-align: center;
    background-color: rgb(194, 193, 192);
    color: white;
    padding: 10px 50px 10px 50px;
    border: 1px solid rgb(218, 217, 216);
    width: 150px;
}

.round-button {
    display: flex;
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 50%;
    color: #f5f5f5;
    text-decoration: none;
    background: rgb(238, 119, 9);
    box-shadow: 0 0 3px gray;
    font-size: xx-large;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.th1 {
    text-align: center;
    background-color: rgb(245, 139, 69);
    color: white;
    padding: 10px 50px 10px 50px;
    border: 1px solid rgba(29, 38, 39, 0.822);
    width: 150px;
}

.table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 5em;
}

.table1 {
    border-collapse: collapse;
    margin: auto;
    margin-top: 5em;
    text-align: center;
}

.tr:nth-child(odd) td {
    background-color: rgb(218, 222, 224);
}

.td {
    border: 1px solid rgb(179, 177, 177);
    height: 30px;
}

.container {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 4em;
    justify-content: center;
}