.button {

    padding-inline: 20px;
    margin-top: 50px;
    border-color: white;
    background-color: white;
    margin-bottom: 50px;
    border-bottom: 0px;
    border-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;

}

.button:active {
    background-color: orange;
}


.brand-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;


}

.profile {
    background-color: orange;
    border-color: orange;
    border-radius: 3px;
    color: white;

    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5%;
}

.icon {
    background-color: orange;
    font-size: 30px;
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.th {
    text-align: center;
    background-color: rgb(241, 151, 90);
    color: white;
    padding: 10px 50px 10px 50px;
    border: 1px solid rgba(29, 38, 39, 0.822);
    width: 150px;
}

.round-button {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #f5f5f5;
    text-decoration: none;
    background: rgba(241, 136, 14, 0.781);
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    margin-left: 32em;
    margin-top: 50px;
    text-align: center;
}

.th1 {
    text-align: center;
    background-color: rgb(245, 139, 69);
    color: white;
    padding: 10px 50px 10px 50px;
    border: 1px solid rgba(29, 38, 39, 0.822);
    width: 150px;
}

.table {
    border-collapse: collapse;
    margin-left: 10em;
    margin-top: 20px;
    padding-left: 100px;
}

.table1 {
    border-collapse: collapse;
    margin-left: 10em;
    margin-top: 5em;
    text-align: center;

}

.tr:nth-child(odd) td {
    background-color: rgb(218, 222, 224);
}

.td {
    border: 1px solid rgb(179, 177, 177);
    height: 30px;
}