.button {

    padding-inline: 1em;
    margin-top: 50px;
    border-color: white;
    background-color: white;
    margin-bottom: 8%;
    border-bottom: 0px;
    border-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;

}

.button:hover {
    background-color: orange;
}


.brand-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-right: 200px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5%;
}

.profile {
    background-color: orange;
    border-color: orange;
    border-radius: 3px;
    color: white;
    margin-left: 320px;

    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 280%;
}

.icon {
    background-color: orange;
    font-size: 30px;
    border-radius: 50%;
    border: 10px solid orange;
    margin-left: 30px;

}

.container {
    text-align: center;
}

.input-position {
    margin-top: 20px;
    border-color: rgb(241, 233, 233);
    border-style: groove;
}


.round-button {
    display: block;
    width: 3%;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #f5f5f5;
    text-decoration: none;
    background: rgba(241, 136, 14, 0.781);
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    margin: 3% 0;

}

.tile {

    display: flex;
    justify-content: space-between;
    padding: 3px;
    border: 2px solid rgb(221, 218, 218);
    margin-bottom: 10%;

}

.diwy {
    width: 250px;
    margin: 0 auto;
}

.tile-title {
    margin: 0;
}

.sub-title {
    margin: 0;
}

.tile-button {
    cursor: pointer;


}

.tile-button:active {
    border: 2px solid rgb(155, 155, 156);

}

.round-button1 {
    display: flex;
    justify-content: center;
}